.transactionHistory {
  width: 800px;
  background-color: rgb(185, 164, 197);
}

.head {
  background-color: #2f58af;
  color: azure;
  height: 60px;
}

.table {
  background: #c8e1e2;
}

.el {
  height: 60px;
  text-align: center;
  font-size: 20px;
}

.row:nth-of-type(2n) {
  background-color: rgb(161, 161, 236);
}
